@use "../abstracts" as *;

.container {
  width: 100%;
  height: auto;
}

.header_main {
  width: 100%;
  background-color: $background-color-dark;
  @include flex($direction: row);
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  height: 156px;
  letter-spacing: 2px;

  &_navigation {
    @include flex($direction: row);
    justify-content: space-between;
    align-items: center;
  }

  &_navigation_logo {
    color: $primary-color;
    font-size: 36px;
    margin-left: 200px;
  }
}
