@use "../abstracts" as *;

.container {
  width: 100%;
  height: auto;
  margin-left: 40px;
}

.header_main {
  width: 100%;
  background-color: $background-color-dark;
  @include flex($direction: row);
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  height: 156px;
  letter-spacing: 2px;

  &_navigation {
    @include flex($direction: row);
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
  }

  &_navigation_logo {
    color: $primary-color;
    font-size: 36px;
    margin-left: 50px;
  }
}
@media (max-width: $tablet) {
  .container {
    margin-left: 0;
  }

  .header_main {
    &_navigation {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

@media (max-width: $mobile) {
  .container {
    margin-left: 0;
  }

  .header_main {
    &_navigation {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
