    <div class="container_bottom_footer">
        <p class="copyright">© 2016 Hofmann UI Kit</p>
        <nav class="nav_footer">
            <ul class="menu_list_footer">
                <include src="./components/nav-list.html" locals='{
          "classList":"menu_list_footer_item",
          "list": "[`HOME`, `SERVICES`, `TEAM` , `PORTFOLIO`, `CONTACT`]"
        }'></include>
            </ul>
        </nav>
    </div>
    <a href="#nav-section" class="on_top_link">
        <img src="../assets/icons/go-top-button.svg" alt="on-top-icon" class="on_top_icon" />
    </a>
