@use "functions" as *;

// Font family
$primary-font: Roboto;

// Breakpoints
$medium: 768px;
$extra-large: 1200px;
$mobile: calc($medium - 1px);
$tablet: calc($extra-large - 1px);

// Colors
$primary-color: #EBCB80;
$background-color-white: #FFFFFF;
$background-color-dark: #4B4B4B;
$text-color-white: #FFFFFF;
$text-color-dark: #4B4B4B;
$main-spacing: pxToRem(-0.58);

