<div class="container_footer">
    <div class="top_footer">
        <div class="footer_1">
            <p class="footer_title">CONTACT US</p>
            <p class="footer_address">2300 W Arbutus Dr Citrus Springs, FL 34434, USA</p>
            <p class="footer_email">contact@hofmannui.net</p>
        </div>
        <div class="footer_2">
            <p class="footer_title">FOLLOW US</p>
            <div class="footer_icon_container">
                <img src="../assets/icons/pinterest-footer.svg" alt="pinterest-icon" class="footer_icons" />
                <img src="../assets/icons/twitter-footer.svg" alt="twitter-icon" class="footer_icons" />
                <img src="../assets/icons/facebook-footer.svg" alt="facebook-icon" class="footer_icons" />
            </div>
        </div>
        <div class="footer_3">
            <p class="footer_title">ABOUT US</p>
            <p class="footer_description">Hoffman UI Kit was made to help you quickly create beautiful layouts of
                responsive websites.</p>
        </div>
    </div>
    <hr>
    <div class="bottom_footer">
        <include src="./components/nav-footer.html"></include>
    </div>
</div>
