<include src="./components/loader.html"></include>
<header id="nav-section" class="header_main">
  <div class="container">
    <include src="./components/nav.html"></include>
  </div>
</header>
<div class="hero_section_main">
  <div class="hero_section_main_title">Choosing The Right Boutique Hotel For You</div>
  <div class="hero_section_main_subtitle">How To Fly A Private Jet On Your Next Trip</div>
  <div class="hero_section_main_input_email_button_container">
    <div class="hero_section_main_input_email_container">
      <input type="email" placeholder="Your email" class="hero_section_main_input_email">
    </div>
    <div class="hero_section_main_button_container">
      <button type="submit">Find now</button>
    </div>
  </div>
  <div class="icon_hero_section_container">
    <img src="../assets/icons/plane-icon.svg" alt="Search" class="icon_hero_section" />
    <img src="../assets/icons/wallet-icon.svg" alt="Search" class="icon_hero_section" />
    <img src="../assets/icons/case-icon.svg" alt="Search" class="icon_hero_section" />
  </div>
</div>
</div>