<!-- Carousel Section -->
<div class="carousel_container">
    <img class="carousel_image" src="../assets/images/desktop/person-carousel.png" alt="hero-image" />
    <div class="carousel_content_container">
        <img class="prev_icon" src="../assets/icons/prev.svg" alt="prev-icon" />
        <div class="carousel_title_container">
            <h3 class="carousel_title">Ida Stephens — Noir Project</h3>
            <p class="carousel_text">“Conversations can be a tricky business. Sometimes, decoding what is said with what
                is meant is difficult at best. However, communication is a necessary tool in todays world. It’s often been
                the case were one party completely miscommunicates to another due to a misunderstanding between parties.”</p>
        </div>
        <img class="next_icon" src="../assets/icons/next.svg" alt="next-icon" />
    </div>
    <img class="dot_nav" src="../assets/icons/dotnav.svg" alt="dot-nav-icon" />
</div>
