<section class="our_team">
    <p class="our_team_title">Our Team</p>
    <div class="our_team_container">
    <include src="./components/profile.html" locals='{
        "profileImage": "../assets/images/mobile/person-1.png",
        "profileName": "Craig Todd",
        "profileRole": "CEO",
        "profileDesc": "Like the majority of sales people, I visit a huge number of clients and prospects every month"
    }'></include>
    <include src="./components/profile.html" locals='{
        "profileImage": "../assets/images/mobile/person-2.png",
        "profileName": "Jennie Graham",
        "profileRole": "UX/UI Designer",
        "profileDesc": "WordPress Version 2 0 3 Review"
    }'></include>
    <include src="./components/profile.html" locals='{
        "profileImage": "../assets/images/mobile/person-3.png",
        "profileName": "Chase Meyer",
        "profileRole": "Front-end Developer",
        "profileDesc": "Search Engine Optimization And Advertising"
    }'></include>
    <include src="./components/profile.html" locals='{
        "profileImage": "../assets/images/mobile/person-4.png",
        "profileName": "Vera Hopkins",
        "profileRole": "UX Lead",
        "profileDesc": "Differentiate Yourself And Attract More Attention Sales And Profits"
    }'></include>
    <include src="./components/profile.html" locals='{
        "profileImage": "../assets/images/mobile/person-5.png",
        "profileName": "Eunice Wong",
        "profileRole": "Marketing consultant",
        "profileDesc": "Advertising Internet Online Opportunities To Explore"
    }'></include>
    <include src="./components/profile.html" locals='{
        "profileImage": "../assets/images/mobile/person-6.png",
        "profileName": "Johnny Vargas",
        "profileRole": "Back-end Developer",
        "profileDesc": "Maintain Your PC S Performance With PC Programs"
    }'></include>
</div>

</section>